/*------------------ 
     Global
--------------------*/
* , *::before , *::after{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --equation-text: #818181;
  --white: #ffffff;
  --black: #303136;
  --background: #ade2ff;
  /* Light Mode */
  --light-primary: #38b9ff;
  --light-secondary: #109dff;
  --light-background: #f7f8fb;
  --light-item-bg: #ade2ff;
  --light-accent: #19acff;
  --light-shadow: #b2daff;
  /* Dark Mode */
  --dark-primary: #29a8ff;
  --dark-secondary: #109dff;
  --dark-background: #17181a;
  --dark-item-bg: #005db2;
  --dark-equalbtn: #1991ff;
  --dark-background-item: #616161;
}

body.light {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}
body.dark {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-item-bg);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------
    Change Mode
---------------------*/

.mode {
  position: fixed;
  top: 30%;
  left: 70%;
}

.mode button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.mode .light {
  background-color: var(--light-secondary);

}
.mode .light::before {
content: "Light";
display: flex;
justify-content: center;
align-items: center;
color: var(--white);
}

.mode .dark {
  background-color: var(--dark-background);
}
.mode .dark::before {
  content: "Dark";
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-primary);
  }

/* Media Query */

/* Medium Screen */
@media screen and (max-width: 968px) {
  .mode {
    top: 0;
    left: 0;
    right: 0;
    margin: 15px auto;
    display: flex;
    justify-content: center;
  }
}

/* Small Screen */

@media screen and (max-width: 400px) {
  .mode {
    width: 100%;
    top: 0;
    margin: 15px auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .mode button {
    width: 60px;
    height: 30px;
    border-radius: 0;
    border: none;
    font-size: 20px;
  }
}

@media (max-height: 725px) {
  .mode {
    width: 100%;
    top: 0;
    margin: 15px auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .mode button {
    width: 60px;
    height: 30px;
    border-radius: 0;
    border: none;
    font-size: 20px;
  }
}


/*-------------------
      Calculator
----------------------*/

/* Light Mode */

.light .calculator {
  border-radius: 39px;
  padding: 16px;
  background-color: var(--light-background);
}
.light .display {
  text-align: right;
  padding-bottom: 70px;
  padding-top: 104px;
}
.light .calculator .display .equation {
  color: var(--equation-text);
  font-size: 1.5rem;
}

.light .calculator .display .result {
  font-size: 3rem;
  font-weight: 500;
  height: 100%;
}

.light .calculator .buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.light .calculator .buttons .left {
  display: grid;
  grid-template-columns: repeat(3, minmax(62px, 1fr));
  gap: 10px;
}
.light .button.zero {
  grid-column: span 2;
}

.light .calculator .buttons .right {
  display: grid;
  grid-template-columns: repeat(1, minmax(62px, 1fr));
  gap: 10px;
}
.light .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: none;
  border-radius: 12px;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  height: 62px;
  text-align: center;
  color: #1e90ff;
}
.light .button.operator {
  background-color: var(--light-item-bg);
  color: var(--light-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.light .button.function {
  background-color: #1e90ff;
  color: #fff;
}
.light .button.special {
  padding: 0px;
  font-weight: 500;
  color: var(--equation-text);
}
.light .button.plus,
.light .button.equal {
  grid-row: span 2;
  height: 96px;
}

/* Dark Mode */
.dark .calculator {
  border-radius: 39px;
  padding: 16px;
  background-color: var(--dark-background);
}
.dark .display {
  text-align: right;
  padding-bottom: 70px;
  padding-top: 104px;
}

.dark .calculator .display .equation {
  color: var(--equation-text);
  font-size: 1.5rem;
}

.dark .calculator .display .result {
  font-size: 3rem;
  font-weight: 500;
  color: var(--white);
}

.dark .calculator .buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.dark .calculator .buttons .left {
  display: grid;
  grid-template-columns: repeat(3, minmax(62px, 1fr));
  gap: 10px;
}
.dark .button.zero {
  grid-column: span 2;
}

.dark .calculator .buttons .right {
  display: grid;
  grid-template-columns: repeat(1, minmax(62px, 1fr));
  gap: 10px;
}
.dark .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border: none;
  border-radius: 12px;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  height: 62px;
  text-align: center;
  color: #1e90ff;
}
.dark .button.operator {
  background-color: var(--dark-item-bg);
  color: var(--dark-primary);
}

.dark .button.function {
  background-color: var(--dark-primary);
  color: #fff;
}
.dark .button.special {
  padding: 0px;
  font-weight: 500;

  background-color: var(--dark-background-item);
  color: #a5a5a5;
}
.dark .button.plus,
.dark .button.equal {
  grid-row: span 2;
  height: 96px;
}
